/*.project-list {
    display: flex;
    flex-direction: column;
}*/

.projects-showcase {
    position: relative;
    opacity: 0.8;
    background-image: url("../images/main-background.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 40%;
    background-attachment: fixed;
}

.project-list section:nth-child(odd) {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.project-list section:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.project-list section:nth-child(even) > .project-info-container {
    /*background: green;*/
    flex: 2;
    padding: 20px;
    /*box-sizing: border-box;*/
    /*text-align: left;*/
}

.project-list section:nth-child(even) > .project-img-container {
    /*background: blue;*/
    flex: 1;
    /*box-sizing: border-box;*/
}

.project-list section:nth-child(odd) > .project-info-container {
    /*background: red;*/
    flex: 2;
    padding: 20px;
    /*box-sizing: border-box;*/
    /*text-align: left;*/
}

.project-list section:nth-child(odd) > .project-img-container {
    /*background: yellow;*/
    flex: 1;
    /*box-sizing: border-box;*/
}

/*.section-dark img  {
    border-radius: 50%;
    padding: 10px;
    max-width: 272px;
    max-height: 272px;
}*/

.project-img-container > a > img {
    width: 65%;
    height: auto;
}

.section-dark img,
.section-light img {
    border-radius: 15px;
    width: 100%;
    height: auto;
}

.section-light > .project-info-container > h3 > a {
    color: #282e34;
}

.section-light > .project-info-container > .project-post-meta > a {
    color: #282e34;
}

.section-light > .project-info-container > .project-post-meta > a:hover {
    color: #7ec0ee;
}

.section-light > .project-info-container > h3 > a:hover {
    color: #7ec0ee;
}

.project-post-meta {
    text-align: left;
}

.project-post-date {
    font-size: 10px;
    padding-right: 35px;
}

.project-post-meta-extra {
    text-align: right;
}

.strong {
    color: #f4f4f4;
}

@media (max-width: 700px) {
    #navbar {
        padding-bottom: 45%;
    }

    .project-list section:nth-child(odd),
    .project-list section:nth-child(even) {
        flex-direction: column;
    }

    .project-list section:nth-child(even) > .project-img-container,
    .project-list section:nth-child(odd) > .project-img-container {
        padding: 50px;
    }
}
