---
import MainContainer from "@components/MainContainer.astro";
import ThemeSwitcher from "@components/ThemeSwitcher.astro";
import "@fontsource/inter";
import "@fontsource/jetbrains-mono";
import { SEO } from "astro-seo";

const { pageTitle, description, type, publishedDate, updatedDate } = Astro.props;
---
<html lang="en" class="h-full antialiased">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={pageTitle}
      description={description}
      openGraph={{
        basic: {
          title: description,
          type: type,
          image: "/images/og_image.png",
        },
        image: {
          alt: "An image of myself",
        },
      }}
      twitter={{ creator: "@hectores9" }}
    />
    <script
      defer
      data-domain="super-solstice.vercel.app"
      src="https://plausible.andreisurugiu.com/js/script.js"
    ></script>
  </head>
  <body
    class="h-full sm:px-8 text-primary-100 selection:bg-accent-400 selection:text-black"
  >
    <MainContainer>
      <slot />
    </MainContainer>
    <ThemeSwitcher />
    <style is:global>
      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      pre {
        --code-block-background-color: #374151;
        --code-block-border-radius: 0.375rem;
        --code-block-font-size: 1rem;

        align-items: flex-start;
        border-radius: var(--code-block-border-radius);
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        width: 100%;

        & .pre-header {
          align-items: flex-start;
          display: flex;
          flex-direction: column;
          justify-content: center;
          left: 0px;
          overflow-x: scroll;
          position: sticky;
          top: 0px;
          width: 100%;

          & .pre-title {
            background-color: var(--code-block-background-color);
            border-radius: var(--code-block-border-radius);
            font-size: var(--code-block-font-size);
            line-height: 1rem;
            min-width: 100%;
            padding: calc(16px * 0.5) calc(16px * 1);
            text-align: center;
            width: max-content;
          }

          & .wrapper-copy-code {
            align-items: center;
            flex-direction: row;
            display: flex;
            justify-content: flex-end;
            width: 100%;

            & .copy-code {
              background-color: transparent;
              border: none;
              border-radius: var(--code-block-border-radius);
              color: #ffffff;
              font-family: monospace;
              font-size: var(--code-block-font-size);
              line-height: 1rem;
              margin: calc(16px * 0.25);
              padding: calc(16px * 0.5) calc(16px * 1);

              &:hover {
                background-color: #6b7280;
                cursor: pointer;
              }
            }
          }
        }

        & code {
          display: block;
          font-size: var(--code-block-font-size);
          line-height: 1.25rem;
          min-width: 100%;
          overflow-x: scroll;
          padding: calc(16px * 0.5) calc(16px * 1.25);
          text-indent: 0px;
          width: max-content;

          & .line {
            display: inline-block;
            min-width: 100%;
            width: auto;
          }

          & .diff.add {
            background-color: #166534;
            position: relative;

            &:before {
              color: #22c55e;
              content: "+";
              left: -1rem;
              position: absolute;
            }
          }

          & .diff.remove {
            background-color: #991b1b;
            opacity: 0.8;
            position: relative;

            &:before {
              color: #ef4444;
              content: "-";
              left: -1rem;
              position: absolute;
            }
          }
        }
      }

      @layer base {
        :root,
        .dark {
          /* basically the zinc palette */
          --primary-50: 250 250 250;
          --primary-100: 244 244 245;
          --primary-200: 228 228 231;
          --primary-300: 212 212 216;
          --primary-400: 161 161 170;
          --primary-500: 113 113 122;
          --primary-600: 82 82 91;
          --primary-700: 63 63 70;
          --primary-800: 39 39 42;
          --primary-900: 24 24 27;

          --accent-verylight: 153 246 228;
          --accent-light: 94 234 212;
          --accent-regular: 45 212 191;
          --accent-dark: 20 184 166;
          --accent-darkest: 17 94 89;

          --main-bg: #000;
          --content-bg: #0a0a0a;
          --lighter-content-bg: #121212;

          --gradient-1: rgba(0, 0, 0, 0);
          --gradient-2: rgba(0, 0, 0, 0.74);
          --gradient-3-start: rgba(130, 199, 172, 0.91);
          --gradient-3-end: hsl(153, 60%, 53%);
        }

        .light {
          --gradient-1: rgba(255, 255, 255, 0);
          --gradient-2: #fafafad5;
          --gradient-3-start: rgba(66, 240, 173, 0.756);
          --gradient-3-end: hsl(170, 100%, 50%);
          --main-bg: #fafafad5;

          --primary-50: 0 0 0;
          --primary-900: 244 244 245;
          --primary-800: 228 228 231;
          --primary-700: 212 212 216;
          --primary-600: 161 161 170;
          --primary-500: 113 113 122;
          --primary-400: 82 82 91;
          --primary-300: 63 63 70;
          --primary-200: 39 39 42;
          --primary-100: 24 24 27;

          --accent-darkest: 153 246 228;
          --accent-dark: 94 234 212;
          --accent-regular: 38 188 169;
          --accent-light: 20 184 166;
          --accent-verylight: 17 94 89;

          --content-bg: #fafafa;
          --lighter-content-bg: #f4f3f3;
        }
      }

      html {
        background: var(--main-bg);
      }
      body {
        background: radial-gradient(
            84% 84% at -20% -20%,
            var(--main-bg) 0%,
            var(--gradient-1) 100%
          ),
          radial-gradient(
            40% 82% at 50% 50%,
            var(--gradient-2) 0%,
            var(--gradient-2) 100%
          ),
          radial-gradient(
            82% 60% at 34% 10%,
            var(--main-bg) 0%,
            var(--gradient-3-start) 46%,
            var(--gradient-3-end) 72%,
            var(--main-bg) 90%
          );
        background-repeat: no-repeat;
      }
    </style>
  </body>
</html>
